# Files to ignore
setup.cfg
.DS_Store
# Extensions to ignore
cryptotoolbox/crypotoolbox.egg-info/*
data/*
.idea
.idea/*
*.log
*.pkl
*.so
*.html
*.ipynb_checkpoints
*.pyc
*.log
*.pkl
# Folders to ignore
env/
build/
dist/
old_scripts/
dev/
.DS_Store
# Cache to ignore
__pycache__/
.cache/
.pytest_cache/
